---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.claim {
    display: block;
    padding: 10px;
    background-color: rgb(217, 242, 255);
    border-radius: 10px;
    border:2px solid;
    box-shadow: 10px 10px black
}
.claim:before {
    content: "Claim. ";
    font-weight: bold;
    font-style: normal;
}

.proof {
  display: block;
  padding: 10px;
  background-color: rgb(235, 232, 232);
  border-radius: 10px;
  border:2px solid;
  box-shadow: 10px 10px;
}
.proof:before {
  content: "Proof. ";
  font-weight: bold;
  font-style: normal;
}
.proof:after {
  content: "â‘";
  font-weight: bold;
  font-style: normal;
}
.link {
  font-style: italic;
  color: red;
}

pre.highlight {
  padding: 8px 12px;
  position: relative;
  // override skeleton styles
  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
  }

  &.highlight {
    color: #c1c2c3;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
  }

  // copy code to clipboard
  .copy {
    color: black;
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    opacity: 0;

    &:active,
    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    opacity: 1;
  }
}